@model ReflectionIT.Mvc.Paging.PagingList<FPTBook.Models.Publisher>
@using ReflectionIT.Mvc.Paging

<h1>Manage publisher</h1>
<p>Number of publishers: @Model.TotalRecordCount</p>
<div class="content-flex">
    <p>
        <a onclick="showInPopup('@Url.Action("AddOrEdit","Publishers",null,Context.Request.Scheme)','New Publisher')" class="btn btn-success text-white"><i style="font-size:12px" class="fa">&#xf055;</i>   Create a new publisher</a>
    </p>
    <form method="get" class="form-inline">
        <input name="filter" class="form-control" placeholder="Search"
               value="@Model.RouteValue["Filter"]" />
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
        </button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.ProfilePictureURL, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.FullName, this.Model)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Description, this.Model)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="align-middle">
                    <img class="rounded-circle" src="@item.ProfilePictureURL" alt="@item.FullName" style="max-width: 150px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    <div class ="item-bio"> @Html.Raw(item.Description) </div>
</td>
                <td>
                    <div class="content-flex">
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Publishers",new { id = item.Id},Context.Request.Scheme)','Update Publisher')" class="btn btn-info text-white" style="margin-right: 20px">Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);">
                            <input type="hidden" asp-for="@item.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Blog Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>