@model ReflectionIT.Mvc.Paging.PagingList<FPTBook.Models.Category>
@using ReflectionIT.Mvc.Paging

<h1>Manage category</h1>
<p>Number of categories: @Model.TotalRecordCount</p>
<div class="content-flex">
    <p>
        <a onclick="showInPopup('@Url.Action("AddOrEdit","Categories",null,Context.Request.Scheme)','New Category')" class="btn btn-success text-white"><i class="fa-solid fa-circle-plus"></i> Create a new category</a>
    </p>
    <form method="get" class="form-inline">
        <input name="filter" class="form-control" placeholder="Search"
               value="@Model.RouteValue["Filter"]" />
        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search
        </button>
    </form>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.Name, this.Model)
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="cat-action">
                        <a onclick="showInPopup('@Url.Action("AddOrEdit","Categories",new { id = item.Id},Context.Request.Scheme)','Update Category')" class="btn btn-info text-white" style="margin-right: 20px">Edit</a>
                        <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);">
                            <input type="hidden" asp-for="@item.Id" />
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
<nav aria-label="Blog Paging">
    @await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })
</nav>